<div class="jumbotron mt-3">
  <h3>{{active_question.question}}</h3>

  <label *ngFor="let item of active_question.choices; let in = index" class="container">
    <input type="radio" name="gender" value="{{item}}" (click)="onPanelSelect(in)"> {{item}}
  </label>

</div>
