<div class="jumbotron mt-3">
  <h1>{{resultMessage}}</h1>
  <h4>Your Score:</h4>
  <p>{{result.result}} / {{result.total}}</p>
  <div class="btn btn-next active" (click)="reset()">
    <button type="button" class="btn btn-outline-secondary">Re-start</button>
  </div>
</div>
