<div class="container">

  <section *ngIf='!startQuiz' class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Welcome to 'The Quiz'</h1>
      <p class="lead text-muted">Good luck!</p>
      <p>
        <a href="#" class="btn btn-primary my-2" (click)='startQuiz = !startQuiz'>Start Quiz</a>
      </p>
    </div>
  </section>

  <div *ngIf='startQuiz'>
    <app-questions
      *ngIf="questions && !finished"
      [active_question]="questions.questions[active_question]"
      (questionSelected)="onSelectAnswer($event)">
    </app-questions>
    <app-summ *ngIf="finished" [result]="getResult()" (resetQuiz)="newQuiz($vent)"></app-summ>
    <app-nav *ngIf="!finished" [progress]="progress" (navChanged)="onNavigate($event)"></app-nav>
  </div>

</div>
